@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Demo.Models.Category>
<nav>
    <ul class="nav_links">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li><a asp-area="" asp-controller="Rooms" asp-action="Index">Phòng</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Booking">Đặt phòng</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">Giới thiệu</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
    </ul>
</nav>